.alal-page {
    padding : 50px;
    padding-top: 150px;
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: row;  /* Add this */
}

.alal-left {
    width:10%;
    height:auto;
    margin-right: 30px;
    display: flex;
}

.management-navbar{
    position: fixed;
    width:8%;
    margin-top: 92px;
}

.alal-body{
    width:90%;
    display:flex;
}
