

.main-page{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 100vh;
}

.video-section{
    padding-top: 200px;
    display: flex;
}

.images-section{
    padding-top: 50px;
    height: 200vh;
}

.first-row{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
}

.second-row{
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
}

.images-section img{
    width: 27%;
}

.footer-section {
    width: 100%;
    height: 100vh; 
    object-fit: cover;
}
