.store {
    padding-top: 150px;
    width: 100%;
    height: auto;
}

.query {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 아이템 사이의 공백 */
    align-items: center;
    padding: 30px;
}

.row {
    display: flex;
    justify-content: space-between; /* 이 부분이 각 열에서 아이템 사이에 공백을 만듭니다. */
    width: 100%;
    margin-bottom: 30px; /* 각 행과 행 사이의 공백 */
}

.good-container {
    flex: 1;
    max-width: calc(33.33% - 30px); /* 아이템 간의 공백을 고려 */
    margin-bottom: 30px; /* 아이템과 제목 사이의 공백 */
}

.good-item {
    position: relative;
    height: calc(450px * 1.618);
    overflow: hidden;
}

.good-item img {
    width: 450px;
    height: calc(450px * 1.618);
    object-fit: cover;
    object-position: center;
    transition: opacity 2s ease-in-out;
}

.good-info {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.pages button {
    margin: 5px;
    padding: 0.5rem 1rem;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 4px;
}
