@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.footer {
    font-family: 'Playfair Display', serif;
    padding: 30px;
    justify-content: space-between;
    display: flex;
}

.footer-text {
    display: flex;
    align-items: center;
    text-align: left;
}

.footer-img {
    font-family: 'Playfair Display', serif;
    font-size: 7em;  /* Adjust size as needed */
    text-transform: uppercase;
    text-align: right;
    font-weight: 900;
}